# Артефакты сборки ядерного модуля
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.symvers
*.order
modules.builtin
modules.builtin.modinfo
.tmp_versions/
.cache.mk
Module.symvers
modules.order

# Userspace CLI
bunglefs_cli

# Образ диска для тестов
*.img

# IDE
*idea/
*.iml
